
div{
    background-color: white;
    width:33%;
    margin:auto;
}

table
{
    margin: auto;
    border: 1;
    border-width : 2px;
    border-color: rgba(134, 227, 243, 0.959);
    background-color: rgba(83, 201, 236, 0.87);
    color: black;

}

td
{
    padding: 10px;
    border-width : 2px;
    border-color: rgba(80, 239, 245, 0.877);
}
h2
{
    text-align: center;
}